<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<!--    <a class="navbar-brand" href="#">Carousel</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
          <li {% if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li {% if 'blog' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
          <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
        </li>
         <li class="nav-item">
          <a class="nav-item nav-link"  href="https://github.com/ritwiktiwari" target="_blank"><i class="fa fa-github"></i></a>
        </li>
         <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/ritwiktiwari/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>