{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ post.title }} | Ritwik Tiwari
{% endblock %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center"
             style="background-image: url('{{ post.image.url }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    </section>
</main>
<div class="container marketing">
    <div class="album py-5">
        <div class="container">
            <h1 class="font-weight-light text-lg-center mt-4 mb-0">{{ post.title }}</h1>
            <hr class="my-4">
            <div class="row">
                <p>
                    {{ post.body }}
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}